* {padding: 10px;
margin: 5px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 20px;

}


#blo {display: inline-block;
    height: 410px;
}

body {
    background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,100,121,1) 35%, rgba(0,212,255,1) 100%);
background-repeat: no-repeat;
background-size: auto;
height: auto;
}

.maname {background-color: #6282A1;
}
#ff {height: 400px;}
section {padding: 20;
        margin-top: 30px;
        margin-left: 25px;
        font-family: monospace;

}

h1 {
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
    width: 50%;
    margin: 20px;
    margin-left: 25%;
    color: rgb(236, 241, 247);
    text-shadow: 3px 3px 10px white;

}

img {float: left;
    border-radius: 9px;
    width: 300px;
    margin: 20;
    margin-right: 50px;
    box-shadow: 5px 10px 7px cadetblue;

}


header p {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 10px;
    text-align: center;

}

.bottom {
    float: right;
}

p {padding: 10px;
    display: table;
    color: rgb(236, 241, 247);
    font-family: monospace;
        text-align: left;

}

#p {display: none;
    color: rgb(236, 241, 247);
    padding: 10px;
    text-align: left;
}

#p2 {padding: 10px;
    display: block;
text-align: center;  
color: rgb(236, 241, 247);
font-family: monospace;
margin: 7px;
text-align: left;

}

#p3{padding: 10px;
    display: block;
text-align: center;  
color: rgb(236, 241, 247);
font-family: monospace;
margin: 7px;
text-align: left;

    }
#p4{padding: 10px;
    display: block;
text-align: center;  
color: rgb(236, 241, 247);
font-family: monospace;
margin: 7px;
text-align: left;

    }
#ol1{padding: 10px;
    text-align: left;  
    color: rgb(236, 241, 247);
    font-family: monospace;
    margin: 7px;
    margin-bottom: 12px;
    margin-left: 40px;


    }
#ul2{padding: 10px;
    text-align: center;  
    color: rgb(236, 241, 247);
    font-family: monospace;
    margin: 7px;
    margin-bottom: 12px;
    text-align: left;


    }
#XD {
    font-style: oblique;
    font-size: larger;
}
#bot2 {margin-left: 50px;
    margin-bottom: 10px;
    
}
#fota {padding: 10px;
    display: block;
text-align: left;  
color: rgb(236, 241, 247);
font-family: monospace;
margin: 7px;
margin-left: 30px;
}